body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  color: #333;
  margin: 0;
}

.container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

header {
  background-color: #4CAF50;
  color: white;
  text-align: center;
  padding: 25px 0;
}

header h1 {
  margin: 0;
}

header p {
  margin-top: 5px;
  font-size: 14px;
}

main {
  display: flex;
  justify-content: center;
  padding: 30px 0;
}

.card {
  background-color: white;
  padding: 25px;
  margin-bottom: 25px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  text-align: center;
  width: 90%;
  max-width: 900px;
}

.profile-img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
}



h2 {
  margin-bottom: 10px;
  color: #333;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 6px 0;
}

.contact a {
  display: inline-block;
  margin: 8px;
  padding: 10px 15px;
  background-color: #4CAF50;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 14px;
}

.contact a:hover {
  background-color: #45a049;
}

footer {
  text-align: center;
  padding: 15px;
  color: #777;
  font-size: 14px;
}
