.container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

header,
footer {
  background-color: #f0f0f0;
  padding: 20px;
}

main {
  display: flex;
}

.main-content {
  flex: 2;
  background-color: #fff;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}

.main-content > div {
  background-color: #f1f1f1;
  width: min(350px, 100%);
  margin: 10px;
  text-align: center;
  line-height: 35px;
  font-size: 15px;
}

.sidebar {
  flex: 1;
  background-color: #f5f5f5;
  padding: 20px;
}

@media (max-width: 768px) {
  main {
    flex-direction: column;
  }
}
